.header {
    width: 100%;
    height: 80px;
    background-color: #f1f3f2;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header__button, button {
    border: none;
    padding: 10px;
    background-color: #e2e2e2;
    margin-right: 5px;
}

.header__button:hover, button:hover {
    background-color: #d0d0d0;
}

.modal {
    width: 400px;
    height: 500px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 200px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1s;
}

.savePost {
    justify-self: flex-start;
    align-self: center;
    margin: 40px;
}

form {
    margin-top: 100px;
    align-self: center;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

